@model books.Models.PortfolioItem

@{
    ViewData["Title"] = "Details";
}
<div style="margin-left:150px;margin-bottom:50px;">

    <h1>Details</h1>

    <div style="padding:25px;">
        <h4>PortfolioItem</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2"  style="padding:10px;">
                @Html.DisplayNameFor(model => model.ProjectNAme)
            </dt>
            <dd class="col-sm-10" style="padding:10px;">
                @Html.DisplayFor(model => model.ProjectNAme)
            </dd>
            <dt class="col-sm-2" style="padding:10px;">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10" style="padding:10px;">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2" style="padding:10px;">
                @*@Html.DisplayNameFor(model => model.ImageURL)*@
                Name of Image
            </dt>
            <dd class="col-sm-10" style="padding:10px;">
                @Html.DisplayFor(model => model.ImageURL)
            </dd>
            <dt class="col-sm-2" style="padding:15px;">
                @Html.DisplayNameFor(model => model.ImageURL)
            </dt>
            <dd class="col-sm-10" style="padding:10px;">
                <img src="~/me/img/portfolio/@Model.ImageURL" style="width:615px; height:565px; border-radius:5%;" >
            </dd>
        </dl>
    </div>
    <div >
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary" style="margin-right:20px;">Edit</a>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>

</div>
